@font-face {
    font-family: 'NanumSquareRoundExtraBold';
    src: url(./assets/fonts/NanumSquareRoundEB.ttf);
}
html{
    scroll-behavior: smooth;
}
.App {
    /* text-align: center; */
    font-family: 'NanumSquareRoundExtraBold';
    
}