@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    margin: 2px;
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(209 213 219);
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175);
}